{% macro getHAID(deviceID) %}

{% set devices = states | map(attribute="entity_id") | map("device_id") | unique | reject("eq",None) | list %}
{% set ns = namespace(devices = []) %}
{% for device in devices %}
{% set ids = (device_attr(device, "identifiers") | list)[0] | list -%}
{% if deviceID in ids %}
    {% set entities = device_entities(device) | list %}
    {% if entities %}
    {% set ns.devices = ns.devices + 
    [ {
        "name": device_attr(device, "name"), "entities" : entities, "identifiers" : ids
        } ] %}
    {% endif %}
{% endif %}
{% endfor %}
{{ ns.devices }}

{% endmacro %}