/resourceCatalog/__pycache__
/resourceCatalog/test.py
/resourceCatalog/server.py

/microserviceBase/__pycache__
/microserviceBase/test.py

HomeAssistant_Connector/

test.py
.vscode

/deviceConnector/__pycache__

/deviceSim

/Data_DB

