/ResourceCatalog/__pycache__
/ResourceCatalog/test.py
/ResourceCatalog/server.py

/microserviceBase/__pycache__
/microserviceBase/test.py

HomeAssistant_Connector/

test.py
.vscode

/Device_Connector/__pycache__

/ResourceCatalog

/deviceSim

/Data_DB

