/resourceCatalog/__pycache__
/resourceCatalog/test.py
/resourceCatalog/server.py

/microserviceBase/__pycache__
/microserviceBase/test.py

HomeAssistant_Connector/

test.py
.vscode

/deviceConnector/__pycache__

/deviceSim

/Data_DB

/maxPowerControl/testDB.db-*

/homeAssistant/data/.cloud
/homeAssistant/data/.storage
/homeAssistant/data/deps
/homeAssistant/data/lsiopy
/homeAssistant/data/www
/homeAssistant/data/.HA_VERSION
/homeAssistant/data/home-assistant.log*
/homeAssistant/data/blueprints
/homeAssistant/data/tts
/homeAssistant/data/testDB.db
/homeAssistant/HADB/HADB.db-*
/homeAssistant/HADB/HADB.db.*

/mosquitto/data
/mosquitto/log

